.range{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.range-body{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.range label{
    font-weight: 600;
}